---
// Layout.astro
export interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonical?: string;
}

const {
  title = 'Shimmr App',
  description = 'Shimmr is a sound therapy app that uses binaural beats and isochronic tones to help you relax, focus, and sleep better.',
  image = '/default-og-image.jpg',
  canonical = Astro.url.href,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Shimmr" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <!-- Import Inter font from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VKSK602JN9"></script></head
  >

  <script>
    // Google Analytics
    // ignore tslint
    // @ts-ignore
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      // @ts-ignore
      dataLayer.push(arguments);
    }
    // @ts-ignore
    gtag('js', new Date());
    // @ts-ignore
    gtag('config', 'G-VKSK602JN9');
  </script>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --background-color: #000;
    --text-color: #efeff1;
    --secondary-text-color: #9b9b9b;
    --font-family: 'Inter', sans-serif;
  }

  html,
  body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
  }

  /* Base typography settings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family);
    font-weight: 700;
    margin-top: 0;
  }

  p,
  a,
  li,
  span {
    font-family: var(--font-family);
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }
</style>
